<!DOCTYPE html>
<html>
<head>
	<title>Result</title>
</head>
<style>
h1 { color: #0080CA; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 500; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }
.button {
    background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
<center>
<body align="center">
 	 <h1>{{re}}</h1>
 	 <button class="button" onclick="location.href='/send';"> Home </button>
</body>
</center>
</html>